In [2]:
import sys
import os

root_path = os.path.abspath(os.path.join('..', '..'))

if root_path not in sys.path:
    sys.path.append(root_path)

# SipariÅŸler

âœï¸ **AlÄ±ÅŸtÄ±rma**

BugÃ¼n **sipariÅŸleri** ve bunlara ait **deÄŸerlendirme puanÄ±nÄ± (review score)** inceleyeceÄŸiz.

ğŸ‘‰ AmacÄ±mÄ±z aÅŸaÄŸÄ±daki Ã¶zelliklere sahip bir DataFrame oluÅŸturmaktÄ±r:


| Ã¶zellik_adÄ±  	| tip  	| aÃ§Ä±klama  	|
|:---	|:---:	|:---	|
| `order_id` 	| str 	| sipariÅŸin kimliÄŸi (id) 	|
| `wait_time` 	| float 	| `order_purchase_timestamp` ile `order_delivered_customer_date` arasÄ±ndaki gÃ¼n sayÄ±sÄ± 	|
| `expected_wait_time` 	| float 	| `order_purchase_timestamp` ile `estimated_delivery_date` arasÄ±ndaki beklenen gÃ¼n sayÄ±sÄ± 	|
| `delay_vs_expected` 	| float 	| gerÃ§ek `order_delivered_customer_date` tahmini teslim tarihinden sonra ise iki tarih arasÄ±ndaki gÃ¼n sayÄ±sÄ±nÄ± dÃ¶ndÃ¼rÃ¼r, aksi halde 0 dÃ¶ndÃ¼rÃ¼r 	|
| `order_status` 	| str 	| sipariÅŸin durumu 	|
| `dim_is_five_star` 	| int 	| sipariÅŸ beÅŸ yÄ±ldÄ±z aldÄ±ysa 1, aksi halde 0 	|
| `dim_is_one_star` 	| int 	| sipariÅŸ bir yÄ±ldÄ±z aldÄ±ysa 1, aksi halde 0 	|
| `review_score` 	| int 	| 1 ile 5 arasÄ±nda 	|
| `number_of_items` 	| int 	| sipariÅŸin iÃ§erdiÄŸi toplam Ã¼rÃ¼n sayÄ±sÄ± 	|
| `number_of_sellers` 	| int 	| sipariÅŸte yer alan satÄ±cÄ± sayÄ±sÄ± 	|
| `price` 	| float 	| mÃ¼ÅŸterinin Ã¶dediÄŸi toplam sipariÅŸ fiyatÄ± 	|
| `freight_value` 	| float 	| mÃ¼ÅŸterinin Ã¶dediÄŸi kargo Ã¼creti 	|
| `distance_customer_seller` 	| float 	| mÃ¼ÅŸteri ile satÄ±cÄ± arasÄ±ndaki mesafe (km, isteÄŸe baÄŸlÄ±) 	|  

âš ï¸ AyrÄ±ca "teslim edilmemiÅŸ" sipariÅŸleri filtrelemeliyiz; aksi belirtilmedikÃ§e bunlarÄ± dahil etmeyin, Ã§Ã¼nkÃ¼ potansiyel gecikmeleri hesaplayamayÄ±z.

â“ **Senin gÃ¶revin**: 

- Her bir Ã¶zelliÄŸi `olist/order.py` iÃ§indeki `Order` sÄ±nÄ±fÄ±nda ayrÄ± bir metod olarak uygulayÄ±n
- ArdÄ±ndan, eksiksiz DataFrame'i **`NaN` iÃ§ermeyecek ÅŸekilde** dÃ¶ndÃ¼ren `get_training_data()` metodunu oluÅŸturun.

ğŸ’¡ Ã–nerilen yÃ¶ntem:
- Ã–nce aÅŸaÄŸÄ±daki notebook'u kullanarak kodunuzu adÄ±m adÄ±m yazÄ±p test edin
- Kod mantÄ±ÄŸÄ±nÄ±zdan emin olduktan sonra kodu `order.py` dosyasÄ±na kopyalayÄ±n
- Åimdilik veri iÅŸleme mantÄ±ÄŸÄ±na odaklanÄ±n; veriyi gÃ¶rselleÅŸtirmeyi sonraki alÄ±ÅŸtÄ±rmalarda yapacaÄŸÄ±z

ğŸ”¥ Notebook iÃ§in en iyi uygulamalar (okumanÄ±z zorunludur) ğŸ‘‡

<details>
    <summary>â–¸ <i>tÄ±klayÄ±n</i></summary>

Bundan sonra keÅŸif amaÃ§lÄ± notebook'lar oldukÃ§a uzun olabilir; bu nedenle aÅŸaÄŸÄ±daki ilkeleri takip etmenizi ÅŸiddetle tavsiye ediyoruz:
- Kodunuzu, Notebook her zaman baÅŸtan sona Ã§alÄ±ÅŸtÄ±rÄ±ldÄ±ÄŸÄ±nda Ã§Ã¶kmeden Ã§alÄ±ÅŸacak ÅŸekilde yazÄ±n (Run --> Run All Cells)
- DeÄŸiÅŸken adlarÄ±nÄ± dikkatli seÃ§in
- KÄ±sa sÃ¼reyle kullanÄ±lacak ara adÄ±mlar iÃ§in `tmp` veya `_` gibi geÃ§ici isimler kullanÄ±n
- Notebook boyutunu azaltmak iÃ§in kodunuzu temizleyin ve hÃ¼creleri birleÅŸtirin (`Shift-M`)
- Katlanabilir baÅŸlÄ±klar ve iÃ§erik tablosunu sÄ±kÃ§a kullanÄ±n (bulamazsanÄ±z bir TA'ya danÄ±ÅŸÄ±n)
- AÅŸaÄŸÄ±daki kÄ±sayollarÄ± kullanÄ±n
    - `a` bir hÃ¼cre Ã¼stÃ¼ne ekler
    - `b` bir hÃ¼cre alta ekler
    - `dd` bir hÃ¼creyi siler
    - `esc` ve `ok` tuÅŸlarÄ± ile hÃ¼creler arasÄ± gezinme
    - `Shift-Enter` hÃ¼creyi Ã§alÄ±ÅŸtÄ±rÄ±r ve sonraki hÃ¼creye geÃ§er
    - parantez iÃ§indeyken Ã¶rn. `groupby()` Ã¼zerinde `Shift + Tab` kullanarak dokÃ¼mantasyona bakabilirsiniz. BirkaÃ§ kez tekrar edin, kalÄ±cÄ± olarak aÃ§mak iÃ§in

</details>

In [3]:
# Auto reload imported module every time a jupyter cell is executed (handy for olist.order.py updates)
%load_ext autoreload
%autoreload 2

In [4]:
# Import usual modules
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
%matplotlib inline

In [6]:
# Import olist data
from olist.data import Olist
olist = Olist()
data = olist.get_data()

In [7]:
# What datasets do we have access to now ?
data.keys()

dict_keys(['sellers', 'product_category_name_translation', 'orders', 'order_items', 'customers', 'geolocation', 'order_payments', 'order_reviews', 'products'])

In [8]:
orders = data['orders'].copy() # good practice to be sure not to modify your `data` variable

assert(orders.shape == (99441, 8))

orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

## 1. `order.py` dosyasÄ±nÄ± kodlayÄ±n

### a) `get_wait_time`
    â“ AÅŸaÄŸÄ±yÄ± dÃ¶ndÃ¼ren bir DataFrame oluÅŸturun:
           `order_id`, `wait_time`, `expected_wait_time`, `delay_vs_expected`, `order_status`

ğŸ Bu ilk metod iÃ§in aÅŸaÄŸÄ±da size pseudo-kod veriyoruz ğŸ‘‡

> 1. `orders` DataFrame'ini inceleyin
2. DataFrame'i `teslim edilmiÅŸ (delivered)` sipariÅŸler Ã¼zerine filtreleyin
3. `datetime` ile Ã§alÄ±ÅŸmayÄ± dÃ¼zenleyin
    - Python [`datetime`](https://docs.python.org/3/library/datetime.html) nesnelerinin ne olduÄŸunu anlamaya zaman ayÄ±rÄ±n
    - ve tarihleri "string" tipinden `pandas.to_datetime()` kullanarak `pandas.datetime` tipine dÃ¶nÃ¼ÅŸtÃ¼rÃ¼n
4. `order_purchase_timestamp`'tan baÅŸlayarak `wait_time`'Ä± gÃ¼n cinsinden ondalÄ±klÄ± bir sayÄ± olarak hesaplayÄ±n
5. `expected_wait_time`'Ä± `order_purchase_timestamp`'tan baÅŸlayarak gÃ¼n cinsinden hesaplayÄ±n
6. `delay_vs_expected`'i gÃ¼n cinsinden hesaplayÄ±n (sipariÅŸ tahmini teslim tarihinden daha erken teslim edildiyse 0 koyun)
7. Yeni DataFrame'i kontrol edin
8. Kodunuzdan memnun kaldÄ±ÄŸÄ±nÄ±zda, notebook'tan `olist/order.py`'ye dikkatlice kopyalayabilirsiniz
9. Åimdi metodunuzu `orders.py` iÃ§inde Ã§aÄŸÄ±rmayÄ± deneyin
10. Kodunuz muhtemelen hemen Ã§alÄ±ÅŸmayacaktÄ±r
11. `.py` dosyasÄ± iÃ§inde Ã§alÄ±ÅŸacak ÅŸekilde gerekli deÄŸiÅŸiklikleri yapÄ±n

`wait_time`, `expected_wait_time` ve `delay_vs_expected`'in tam sayÄ± deÄŸil ondalÄ±klÄ± gÃ¼n cinsinden olmasÄ±nÄ± istiyoruz. DÃ¼ÅŸÃ¼nÃ¼n: 8.1 veya 8.9 gÃ¼nlÃ¼k bir bekleme bÃ¼yÃ¼k fark yaratÄ±r. Bu yÃ¼zden Pandas'Ä±n `dt.day` Ã¶zelliklerini kullanmayÄ±n; Ã§Ã¼nkÃ¼ bu deÄŸerleri aÅŸaÄŸÄ± yuvarlar.

<details>
    <summary>ğŸ’¡Ä°pucu</summary>

Hem `wait_time` hem de `delay_vs_expected` iÃ§in ilgili tarihler arasÄ±ndaki farkÄ± almak Ã¼zere tarihleri Ã§Ä±karmanÄ±z gerekir. ArdÄ±ndan bu farkÄ±n kaÃ§ gÃ¼nÃ¼ temsil ettiÄŸini bulmak iÃ§in ya [`datetime.timedelta()`](https://docs.python.org/3/library/datetime.html#timedelta-objects) ya da [`np.timedelta64()`](https://numpy.org/doc/stable/reference/arrays.datetime.html#datetime-and-timedelta-arithmetic) kullanabilirsiniz!

</details>

In [9]:
orders.info()
orders["order_status"].unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

array(['delivered', 'invoiced', 'shipped', 'processing', 'unavailable',
       'canceled', 'created', 'approved'], dtype=object)

In [10]:
dorders = orders.query('order_status == "delivered"')
dorders

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00

In [11]:
def get_wait_time(self, is_delivered=True):
        """
        Returns a DataFrame with:
        [order_id, wait_time, expected_wait_time, delay_vs_expected, order_status]
        Calculates times in decimal days and filters by status if specified.

        Example:
            >>> order_instance = Order()
            >>> df = order_instance.get_wait_time(is_delivered=True)
            >>> df.shape[1] == 5
        """
        # Inspect the 'orders' DataFrame from the instance attribute
        orders = self.data['orders'].copy()

        # Filter the DataFrame on 'delivered' orders if requested
        if is_delivered:
            orders = orders.query('order_status == "delivered"').copy()

        # Handle datetime conversions using pandas.to_datetime()
        # This converts string dates to pandas datetime objects
        orders['order_purchase_timestamp'] = pd.to_datetime(orders['order_purchase_timestamp'])
        orders['order_delivered_customer_date'] = pd.to_datetime(orders['order_delivered_customer_date'])
        orders['order_estimated_delivery_date'] = pd.to_datetime(orders['order_estimated_delivery_date'])

        # Calculate 'wait_time' in decimal days starting from 'order_purchase_timestamp'
        # We divide by np.timedelta64(1, 'D') to get the float representation
        orders['wait_time'] = (
            orders['order_delivered_customer_date'] - orders['order_purchase_timestamp']
        ) / np.timedelta64(1, 'D')

        # Calculate 'expected_wait_time' in decimal days
        orders['expected_wait_time'] = (
            orders['order_estimated_delivery_date'] - orders['order_purchase_timestamp']
        ) / np.timedelta64(1, 'D')

        # Calculate 'delay_vs_expected' in decimal days
        # If the order was delivered earlier than expected, set it to 0
        orders['delay_vs_expected'] = (
            orders['order_delivered_customer_date'] - orders['order_estimated_delivery_date']
        ) / np.timedelta64(1, 'D')

        # Using clip(lower=0) ensures we replace negative delays with 0
        orders['delay_vs_expected'] = orders['delay_vs_expected'].clip(lower=0)

        # Final DataFrame check (selecting only requested columns)
        return orders[[
            'order_id',
            'wait_time',
            'expected_wait_time',
            'delay_vs_expected',
            'order_status'
        ]]

ğŸ‘€ OluÅŸturduÄŸunuz DataFrame'i kontrol edin.  

ğŸ’ª Kodunuz Ã§alÄ±ÅŸtÄ±ÄŸÄ±nda, kodunuzu `olist/order.py` iÃ§ine taÅŸÄ±yÄ±n  

ğŸ§ª Åimdi aÅŸaÄŸÄ±daki hÃ¼creyi Ã§alÄ±ÅŸtÄ±rarak test edin ğŸ‘‡

In [12]:
# Test your code here
from olist.order import Order
Order().get_wait_time()

,order_id,wait_time,expected_wait_time,delay_vs_expected,order_status
0,e481f51cbdc54678b7cc49136f2d6af7,8.436574,15.544063,0.0,delivered
1,53cdb2fc8bc7dce0b6741e2150273451,13.782037,19.137766,0.0,delivered
2,47770eb9100c2d0c44946d9cf07ec65d,9.394213,26.639711,0.0,delivered
3,949d5b44dbf5de918fe9c16f97b45f8a,13.208750,26.188819,0.0,delivered
4,ad21c59c0840e6cb83a9ceb5573f8159,2.873877,12.112049,0.0,delivered
...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,8.218009,18.587442,0.0,delivered
99437,63943bddc261676b46f01ca7ac2f7bd8,22.193727,23.459051,0.0,delivered
99438,83c1379a015df1e13d02aae0204711ab,24.859421,30.384225,0.0,delivered
99439,11c177c8e97725db2631073c19f07b62,17.086424,37.105243,0.0,delivered
99440,66dea50a8b16d9b4dee7af250b4be1a5,7.674306,25.126736,0.0,delivered

In [13]:
from nbresult import ChallengeResult
test = Order().get_wait_time()
result = ChallengeResult('wait_time', dve_type=test["delay_vs_expected"].dtype, shape=test.shape, dve_min=test["delay_vs_expected"].min(), dve_max=test["delay_vs_expected"].max())
result.write(); print(result.check())

============================= test session starts ==============================
platform darwin -- Python 3.12.9, pytest-8.3.4, pluggy-1.5.0 -- /Users/ilos/.pyenv/versions/3.12.9/envs/workintech/bin/python
cachedir: .pytest_cache
rootdir: /Users/ilos/code/inurekici.sc/projects/S14D3Ps--olist-analysis/01-Statistical-Inference/data-orders
configfile: pytest.ini
plugins: anyio-4.8.0, typeguard-4.4.2
collecting ... collected 1 item

test_wait_time.py::TestWaitTime::test_wait_time PASSED                   [100%]

============================== 1 passed in 0.13s ===============================


ğŸ’¯ You can commit your code:

git add tests/wait_time.pickle

git commit -m 'Completed wait_time step'

git push origin master

âš ï¸ `order.py` iÃ§indeki deÄŸiÅŸiklikleri `olist` deposuna commit etmeyi unutmayÄ±n!

### b) `get_review_score`
     â“ AÅŸaÄŸÄ±yÄ± dÃ¶ndÃ¼ren bir DataFrame oluÅŸturun:
        `order_id`, `dim_is_five_star`, `dim_is_one_star`, `review_score`

`dim_is_$N$_star` sÃ¼tunu `review_score=$N$` ise `1`, deÄŸilse `0` iÃ§ermelidir

<details>
    <summary markdown='span'>Ä°puÃ§larÄ±</summary>

`Series.map()` veya `DataFrame.apply()` Ã¼zerine dÃ¼ÅŸÃ¼nÃ¼n
    
</details>

ğŸ‘‰ We load the `reviews` for you

In [14]:
reviews = data['order_reviews'].copy()
assert(reviews.shape == (99224,7))
reviews

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,ParabÃ©ns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53
...,...,...,...,...,...,...,...
99219,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,5,NaN,NaN,2018-07-07 00:00:00,2018-07-14 17:18:30
99220,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,NaN,NaN,2017-12-09 00:00:00,2017-12-11 20:06:42
99221,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,NaN,"Excelente mochila, entrega super rÃ¡pida. Super...",2018-03-22 00:00:00,2018-03-23 09:10:43
99222,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,NaN,NaN,2018-07-01 00:00:00,2018-07-02 12:59:13
99223,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,NaN,"meu produto chegou e ja tenho que devolver, po...",2017-07-03 00:00:00,2017-07-03 21:01:49

In [15]:
def get_review_score(self):
        """
        Returns a DataFrame with order_id, dim_is_five_star, dim_is_one_star, and review_score.

        Example:
            >>> order = Order()
            >>> df = order.get_review_score()
            >>> df['dim_is_five_star'].sum() > 0
        """
        # Get the reviews dataset
        reviews = self.data['order_reviews'].copy()

        # Create dummy columns for satisfaction levels
        reviews['dim_is_five_star'] = reviews['review_score'].map(lambda x: 1 if x == 5 else 0)
        reviews['dim_is_one_star'] = reviews['review_score'].map(lambda x: 1 if x == 1 else 0)

        # Select only necessary columns
        return reviews[['order_id', 'dim_is_five_star', 'dim_is_one_star', 'review_score']]

Yine,

ğŸ‘€ OluÅŸturduÄŸunuz DataFrame'i kontrol edin.  

ğŸ’ª Kodunuz Ã§alÄ±ÅŸtÄ±ÄŸÄ±nda, kodunuzu `olist/order.py` iÃ§ine taÅŸÄ±yÄ±n  

ğŸ§ª Åimdi aÅŸaÄŸÄ±daki hÃ¼creyi Ã§alÄ±ÅŸtÄ±rarak test edin ğŸ‘‡

In [16]:
# Test your code here
from olist.order import Order
Order().get_review_score()

,order_id,dim_is_five_star,dim_is_one_star,review_score
0,73fc7af87114b39712e6da79b0a377eb,0,0,4
1,a548910a1c6147796b98fdf73dbeba33,1,0,5
2,f9e4b658b201a9f2ecdecbb34bed034b,1,0,5
3,658677c97b385a9be170737859d3511b,1,0,5
4,8e6bfb81e283fa7e4f11123a3fb894f1,1,0,5
...,...,...,...,...
99219,2a8c23fee101d4d5662fa670396eb8da,1,0,5
99220,22ec9f0669f784db00fa86d035cf8602,1,0,5
99221,55d4004744368f5571d1f590031933e4,1,0,5
99222,7725825d039fc1f0ceb7635e3f7d9206,0,0,4
99223,90531360ecb1eec2a1fbb265a0db0508,0,1,1

In [17]:
from nbresult import ChallengeResult
result = ChallengeResult('review_score', shape=Order().get_review_score().shape)
result.write(); print(result.check())

============================= test session starts ==============================
platform darwin -- Python 3.12.9, pytest-8.3.4, pluggy-1.5.0 -- /Users/ilos/.pyenv/versions/3.12.9/envs/workintech/bin/python
cachedir: .pytest_cache
rootdir: /Users/ilos/code/inurekici.sc/projects/S14D3Ps--olist-analysis/01-Statistical-Inference/data-orders
configfile: pytest.ini
plugins: anyio-4.8.0, typeguard-4.4.2
collecting ... collected 1 item

test_review_score.py::TestReviewScore::test_review_score PASSED          [100%]

============================== 1 passed in 0.01s ===============================


ğŸ’¯ You can commit your code:

git add tests/review_score.pickle

git commit -m 'Completed review_score step'

git push origin master

âš ï¸ `order.py` iÃ§indeki deÄŸiÅŸiklikleri `olist` deposuna commit etmeyi unutmayÄ±n!

### c) `get_number_items`:
     â“ AÅŸaÄŸÄ±yÄ± dÃ¶ndÃ¼ren bir DataFrame oluÅŸturun:
        `order_id`, `number_of_items` (her sipariÅŸ iÃ§in toplam Ã¼rÃ¼n sayÄ±sÄ±)

In [18]:
items_raw = data['order_items'].copy()

In [19]:
items_count = items_raw.groupby('order_id').count()[['product_id']]

In [20]:
items_count.columns = ['number_of_items']
items_count = items_count.reset_index()

In [21]:
items_count.head()

                           order_id  number_of_items
0  00010242fe8c5a6d1ba2dd792cb16214                1
1  00018f77f2f0320c557190d7a144bdd3                1
2  000229ec398224ef6ca0657da4fc703e                1
3  00024acbcdf0a6daa1e931b038114c75                1
4  00042b26cf59d7ce69dfabb4e55b4fd9                1

In [22]:
result = Order().get_number_items()
result.head()

                           order_id  number_of_items
0  00010242fe8c5a6d1ba2dd792cb16214                1
1  00018f77f2f0320c557190d7a144bdd3                1
2  000229ec398224ef6ca0657da4fc703e                1
3  00024acbcdf0a6daa1e931b038114c75                1
4  00042b26cf59d7ce69dfabb4e55b4fd9                1

ğŸ§ª AynÄ± rutin:
* DataFrame'inizi kontrol edin,
* Kodunuzu `olist/order.py` iÃ§ine taÅŸÄ±yÄ±n
* ve gerÃ§ekten Ã§alÄ±ÅŸtÄ±ÄŸÄ±nÄ± doÄŸrulayÄ±n.

In [23]:
from nbresult import ChallengeResult
result = ChallengeResult('number_items',
                         shape=Order().get_number_items().shape,
                         columns=Order().get_number_items().columns)
result.write(); print(result.check())

============================= test session starts ==============================
platform darwin -- Python 3.12.9, pytest-8.3.4, pluggy-1.5.0 -- /Users/ilos/.pyenv/versions/3.12.9/envs/workintech/bin/python
cachedir: .pytest_cache
rootdir: /Users/ilos/code/inurekici.sc/projects/S14D3Ps--olist-analysis/01-Statistical-Inference/data-orders
configfile: pytest.ini
plugins: anyio-4.8.0, typeguard-4.4.2
collecting ... collected 2 items

test_number_items.py::TestNumberItems::test_column_names PASSED          [ 50%]
test_number_items.py::TestNumberItems::test_number_items PASSED          [100%]

============================== 2 passed in 0.59s ===============================


ğŸ’¯ You can commit your code:

git add tests/number_items.pickle

git commit -m 'Completed number_items step'

git push origin master

âš ï¸ `order.py` iÃ§indeki deÄŸiÅŸiklikleri `olist` deposuna commit etmeyi unutmayÄ±n!

### d) `get_number_sellers`:
     â“ AÅŸaÄŸÄ±yÄ± dÃ¶ndÃ¼ren bir DataFrame oluÅŸturun:
        `order_id`, `number_of_sellers` (her sipariÅŸ iÃ§in benzersiz satÄ±cÄ± sayÄ±sÄ±)
        
<details>
    <summary>â–¸ <i>Ä°pucu</i></summary>

`pd.Series.nunique()` metoduna bakÄ±n
</details>

In [ ]:
# YOUR CODE HERE

In [ ]:
from nbresult import ChallengeResult
result = ChallengeResult('number_sellers',
                         shape=Order().get_number_sellers().shape,
                         columns=Order().get_number_sellers().columns)
result.write(); print(result.check())

âš ï¸ `order.py` iÃ§indeki deÄŸiÅŸiklikleri `olist` deposuna commit etmeyi unutmayÄ±n!

### e) `get_price_and_freight`
     AÅŸaÄŸÄ±yÄ± dÃ¶ndÃ¼ren bir DataFrame oluÅŸturun:
        `order_id`, `price`, `freight_value`

In [ ]:
# YOUR CODE HERE

In [ ]:
from nbresult import ChallengeResult
result = ChallengeResult('price', shape=Order().get_price_and_freight().shape)
result.write(); print(result.check())

âš ï¸ `order.py` iÃ§indeki deÄŸiÅŸiklikleri `olist` deposuna commit etmeyi unutmayÄ±n!

## 2. Hepsini bir arada: `get_training_data`

â“ Daha Ã¶nce kodladÄ±ÄŸÄ±nÄ±z metodlarÄ± kullanarak `get_training_data` metodunu yazma zamanÄ±; tÃ¼m sipariÅŸ Ã¶zelliklerini tek bir tabloda toplayÄ±n.

In [ ]:
# YOUR CODE HERE

ğŸ§ª AÅŸaÄŸÄ±da test edin

In [ ]:
from nbresult import ChallengeResult
from olist.order import Order
data = Order().get_training_data()

result = ChallengeResult('training',
    shape=data.shape,
    columns=sorted(list(data.columns))
)
result.write()
print(result.check())

ğŸ’¡ **Beklenen satÄ±r sayÄ±sÄ±nÄ± elde edemiyor musunuz?**
<details><summary>8 satÄ±rlÄ±k bir fark mÄ± var?</summary>
SonuÃ§ta `NaN` iÃ§ermeyen bir DataFrame istiyoruz. `NaN`'larÄ± kaldÄ±rmayÄ± deneyin. (Ã‡ok karmaÅŸÄ±k hale getirmeyin: genelde kodunuzda bir satÄ±rÄ± deÄŸiÅŸtirmeniz yeterlidir.)
</details>
<details><summary>BaÅŸka bir fark mÄ± var?</summary>
Belki tÃ¼m adÄ±mlarÄ± tek bir DataFrame'de birleÅŸtirirken bir ÅŸey yanlÄ±ÅŸ gitmiÅŸtir? BirleÅŸtirmelerinizi (merge) kontrol edin.
</details>

ğŸ Tebrikler! 

ğŸ’¾ Notebook'unuzu ve `olist/order.py` iÃ§indeki kodunuzu commit edip pushlayÄ±n, sonra sonraki alÄ±ÅŸtÄ±rmaya geÃ§in.

## 3. [Ä°STEÄE BAÄLI] `get_distance_seller_customer` 
**Bu fonksiyonu yalnÄ±zca bugÃ¼nkÃ¼ alÄ±ÅŸtÄ±rmalarÄ± bitirdikten sonra yazmayÄ± deneyin.**

**Ã–nce bir sonraki alÄ±ÅŸtÄ±rmaya geÃ§in.**

    â“ AÅŸaÄŸÄ±yÄ± dÃ¶ndÃ¼ren bir DataFrame oluÅŸturun:
        `order_id`, `distance_seller_customer` (mÃ¼ÅŸteri ile satÄ±cÄ± arasÄ±ndaki mesafe, km cinsinden)

ğŸ’¡ `olist.utils` modÃ¼lÃ¼nde sizin iÃ§in yazÄ±lmÄ±ÅŸ `haversine_distance` formÃ¼lÃ¼ne gÃ¶z atÄ±n

Bunu kullanarak `get_distance_seller_customer`'Ä± kodlayÄ±n.

âš ï¸ Bir sipariÅŸ birden fazla satÄ±cÄ± iÃ§erebileceÄŸi iÃ§in, sipariÅŸ baÅŸÄ±na ortalama satÄ±cÄ±-mÃ¼ÅŸteri mesafesini alÄ±n.

In [ ]:
# YOUR CODE HERE

In [ ]:
matching_geo = Order().get_distance_seller_customer()

ğŸ‘‰ Hemen satÄ±cÄ±-mÃ¼ÅŸteri mesafesinin daÄŸÄ±lÄ±mÄ±nÄ± hÄ±zlÄ±ca inceleyelim :)

In [ ]:
sns.displot(data = matching_geo, x ='distance_seller_customer')

ğŸ‘‰ SatÄ±cÄ±-mÃ¼ÅŸteri mesafesinin medyanÄ± ve ortalamasÄ± nedir?

In [ ]:
matching_geo['distance_seller_customer'].describe()

ğŸ‘€ Yeni DataFrame'inizi kontrol edin ve kod Ã§alÄ±ÅŸtÄ±ÄŸÄ±nda `olist/order.py` iÃ§ine taÅŸÄ±yÄ±n.

In [ ]:
Order().get_distance_seller_customer()['distance_seller_customer']

ğŸ§ª Kodunuzu test edin

In [ ]:
from nbresult import ChallengeResult

result = ChallengeResult('distance',
    mean = Order().get_distance_seller_customer()['distance_seller_customer'].mean())
result.write()
print(result.check())

AyrÄ±ca `with_distance_seller_customer` `True` olarak ayarlandÄ±ÄŸÄ±nda `get_training_data`'yÄ± `get_distance_seller_customer` ile birleÅŸtirecek ÅŸekilde gÃ¼ncelleyin.

âš ï¸ `order.py` iÃ§indeki deÄŸiÅŸiklikleri `olist` deposuna commit etmeyi unutmayÄ±n!